// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  text-decoration: center;
}

.header {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  height: 3rem;
}

.header a {
  text-decoration: none;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #337ab7;
  font-size: 30px;
}

.header h3 {
  margin: 10px
}

.header p {
  margin: 10px
}
